.BoontarTVForm {
  background-color: #313131;
  padding: 10px;
  height: 100%;
}

.BoontarTVTitle {
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.BoontarTVDescription {
  color: white;
  font-size: 14px;
  text-align: center;
}

.BoontarTVForm input {
  width: 100%;
  margin-top: 15px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  background-color: #404040;
  color: white;
  border-width: 0;
  border-radius: 5px;
}

.BoontarTVForm input::placeholder {
  color: #898989;
}

.BoontarTVForm a {
  color: #fd3d48;
}

.BoontarTVForm button {
  width: 100%;
  height: 40px;
  background-color: #fd3d48;
  color: white;
  border-width: 0;
  border-radius: 5px;
  margin-top: 15px;
}

.BoontarTVButtonDisabled {
  background-color: #404040!important;
}

.BoontarTVInputLabel {
  padding-top: 15px;
  text-align: left;
  color: white;
}

.BoontarTVSuccessStatus {
  padding-top: 15px;
  color: #2d9b2d;
}

.BoontarTVFailedStatus {
  padding-top: 15px;
  color: #fd3d48;
}

.BoontarTVInputsBox {

}

.BoontarTVButtonBox {

}

.BoontarTVInput {

}